vector_store/
data/

# 바이트 컴파일 / 최적화 / DLL 파일
__pycache__/
*.py[cod]
*$py.class

# C 확장
*.so

# 배포 / 패키징
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# 설치 로그
pip-log.txt
pip-delete-this-directory.txt

# 단위 테스트 / 커버리지 리포트
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# 가상 환경
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE 설정
.idea/  # PyCharm
.vscode/  # Visual Studio Code
*.swp  # Vim
.project  # Eclipse
.pydevproject  # Eclipse

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# OS 관련 파일
.DS_Store  # macOS
Thumbs.db  # Windows